# Postgres (en el VPS)
DB_NAME=myturn
DB_USER=admin
DB_PASSWORD=kNh7.Mn71

# App
JWT_KEY=djSdhdkqwnqyqwdlfodebksadjfblsad21321k12h
IS_EMAIL_MOCKED=true
SMTP_FROM_NAME=Iván Frías Gil
SMTP_FROM_EMAIL=friasgilivan@gmail.com

# SMTP (opcional en dev)
BREVO_SMTP_USER=95021f001@smtp-brevo.com
BREVO_SMTP_KEY=rxLODC8YkGEvTQng
